<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>EditarUsuario</display-name>
    <servlet-name>EditarUsuario</servlet-name>
    <servlet-class>controlador.EditarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarUsuario</servlet-name>
    <url-pattern>/EditarUsuario</url-pattern>
  </servlet-mapping>
  <display-name>SprintFinal5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CrearUsuario</servlet-name>
    <servlet-class>controlador.CrearUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditarCapacitacion</servlet-name>
    <servlet-class>controlador.EditarCapacitacion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListarCapacitacion</servlet-name>
    <servlet-class>controlador.ListarCapacitacion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActualizarCapacitacion</servlet-name>
    <servlet-class>controlador.ActualizarCapacitacion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controlador.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EliminarCapacitacion</servlet-name>
    <servlet-class>controlador.EliminarCapacitacion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListarUsuarios</servlet-name>
    <servlet-class>controlador.ListarUsuarios</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CrearCapacitacion</servlet-name>
    <servlet-class>controlador.CrearCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuario</servlet-name>
    <url-pattern>/CrearUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditarCapacitacion</servlet-name>
    <url-pattern>/Editar-Capacitacion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListarCapacitacion</servlet-name>
    <url-pattern>/ListarCapacitaciones</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActualizarCapacitacion</servlet-name>
    <url-pattern>/Actualizar-Capacitacion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EliminarCapacitacion</servlet-name>
    <url-pattern>/Eliminar-Capacitacion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListarUsuarios</servlet-name>
    <url-pattern>/ListarUsuarios</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrearCapacitacion</servlet-name>
    <url-pattern>/CrearCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarUsuario</display-name>
    <servlet-name>ActualizarUsuario</servlet-name>
    <servlet-class>controlador.ActualizarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarUsuario</servlet-name>
    <url-pattern>/ActualizarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarUsuario</display-name>
    <servlet-name>EliminarUsuario</servlet-name>
    <servlet-class>controlador.EliminarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarUsuario</servlet-name>
    <url-pattern>/EliminarUsuario</url-pattern>
  </servlet-mapping>
</web-app>